# general
*~
*.log
tmp
dump
RUNNING_PROCESS

# Eclipse
.settings
.cache
.project
.classpath
.scala_dependencies
bin

# Intellij
.idea/
*.iml
*.iws

# SBT
dist
project/.sbtserver
project/boot
project/target
project/plugins/target
target
.target

# Play
logs
RUNNING_PID

# Mac
.DS_Store
