@(size: Integer = 10)(opponent: User)

    @main("Battleship game", views.html.battleship.getClass) {
        @defining(Application.getLocalUser(session)) { currentUser =>
            @if(currentUser != null) {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Status</h3>
                    </div>
                    <div id="status-panel" class="panel-body">
                        Some information
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6 text-center"><h4>@currentUser.name's battlefield</h4></div>
                    <div class="col-sm-12 col-md-6 text-center"><h4>@opponent.name's battlefield</h4></div>
                </div>

                <div class="row form-group">
                    @* Current user's playground (left) *@
                    <div class="col-sm-12 col-md-6">
                        <div id="own-playground" class="container-fluid playground">
                            @* Rows *@
                            @for( i <- 0 to size - 1) {
                                <div class="row">
                                    @* Columns *@
                                    @for( j <- 0 to size - 1) {
                                        <div class="field"
                                            data-row="@i" data-col="@j"
                                            style="width: 10%; padding-bottom: 10%;"></div>
                                    }
                                </div>
                            }
                        </div>
                    </div>

                    @* Opponent's playground (right) *@
                    <div class="col-sm-12 col-md-6">
                        <div id="opponents-playground" class="container-fluid playground">
                            @* Rows *@
                            @for( i <- 0 to size - 1) {
                                <div class="row">
                                    @* Columns *@
                                    @for( j <- 0 to size - 1) {
                                        <div class="field"
                                        data-row="@i" data-col="@j"
                                        style="width: 10% ; padding-bottom: 10% ;"></div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div> <!-- Row end -->

                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5">
                        <button class="btn btn-block btn-lg btn-danger">Quit game!</button>
                    </div>
                </div>

                <script src="@routes.Assets.versioned("javascripts/dist/battleship.js")" type="text/javascript"></script>
            } else {
                <h1>You must be logged in to play</h1>
            }
        }
    }
