@import com.feth.play.module.pa.views.html._
@import com.feth.play.module.pa.PlayAuthenticate
@(message: String)

@main("Battleship", views.html.index.getClass) {
    <h1>Home example</h1>
    @if(User.existsByAuthUserIdentity(PlayAuthenticate.getUser(session()))) {
        <p>Welcome, @User.findByAuthUserIdentity(PlayAuthenticate.getUser(session())).name!</p>
        @* @if(UserManager.getNumUsers == 0) {
            <h2>No users online</h2>
        } else {
            <h2>Users online</h2>
            <ul>
            @UserManager.getUsers.map { u =>
                <li><a href="/users/@u.getId">@u.toString</a></li>
            }
            </ul>
        } *@
    } else {
        @session.clear()
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <div class="jumbotron">
                    @* TODO: implement for the new models *@
                    @* @helper.form(routes.Application.authenticate) { *@
                        <h2 class="form-signin-heading">Choose a username</h2>
                        <label for="username" class="sr-only">Username</label>
                        <input type="text" name="username" id="username" class="form-control" placeholder="Username">
                        <br>
                        <button class="btn btn-default" type="submit">Play</button>
                    <hr>
                    <h4>Or login with Google</h4>
                    <p>Login:</p>
                    @forProviders() { p =>
                        <a href="@p.getUrl()">@p.getKey()</a>
                    }
                    <br/><br/>
                </div>
            </div>
        </div>
    }
}
