@(message: String)

@main("Battleship", views.html.index.getClass) {

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">Welcome to Battleship!</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="jumbotron">
                <form class="form-signin">
                    <h2 class="form-signin-heading">Please sign in</h2>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-default" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>

}
