@(form: Form[Application.Login])

@main("Battleship", views.html.login.getClass) {

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">Welcome to Battleship!</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="jumbotron">
            @helper.form(routes.Application.authenticate) {
                <h2 class="form-signin-heading">Choose a username</h2>
                <label for="username" class="sr-only">Username</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="Username">
                <br>
                <button class="btn btn-default" type="submit">Play</button>
                <hr>
                <h4>Or login with Google</h4>
                <p>TODO</p>
            }
            </div>
        </div>
    </div>

}
