@import com.feth.play.module.pa.views.html.currentAuth
@(title: String, selectedTab: Class[_])(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

            <!-- Bootstrap & jQuery -->
        <script src="@routes.Assets.versioned("bower_components/jquery/dist/jquery.min.js")"></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("bower_components/bootstrap/dist/css/bootstrap.min.css")" crossorigin="anonymous">
        <script src="@routes.Assets.versioned("bower_components/bootstrap/dist/js/bootstrap.min.js")" crossorigin="anonymous"></script>

            <!-- Custom Scripts -->
        <script src="@routes.Assets.versioned("javascripts/dist/amplify.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/dist/websocket.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/vendor/Chart.min.js")" type="text/javascript"></script>

            <!-- Polymer -->
        <link rel="import" href="@routes.Assets.versioned("bower_components/polymer/polymer.html")">
        <link rel="import" href="@routes.Assets.versioned("bower_components/iron-input/iron-input.html")">
        <script src="@routes.Assets.versioned("bower_components/webcomponentsjs/webcomponents-lite.min.js")" ></script>
        <link rel="import" href="@routes.Assets.versioned("elements/users-list.html")">

            <!-- Angular -->
        <script src="@routes.Assets.versioned("bower_components/angular/angular.min.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular-chart.js/dist/angular-chart.js")"></script>

            <!-- Stylesheets -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/dist/style.min.css")">

    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#battleship-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Battleship</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @* @if(selectedTab.equals(views.html.index.getClass)) {
                    <a class="navbar-brand" href="/">Home</a>
                    } else { @if(selectedTab.equals(views.html.battleship.getClass)) {
                    <a class="navbar-brand" href="/battleship">Game</a>
                    } else { @if(selectedTab.equals(views.html.rules.getClass)) {
                    <a class="navbar-brand" href="/rules">Rules</a>
                    } else { @if(selectedTab.equals(views.html.about.getClass)) {
                    <a class="navbar-brand" href="/about">About</a>
                    }}}}*@
                    <a class="navbar-brand" href="/">Battleship</a>
                </div>

                <div class="collapse navbar-collapse" id="battleship-navbar-collapse">
                    <ul class="nav navbar-nav">
                        @if(selectedTab.equals(views.html.index.getClass)) {
                            <li class="active"><a href="/">Home</a></li>
                        } else {
                            <li><a href="/">Home</a></li>
                        }

                        @defining(Application.getLocalUser(session)) { currentUser =>
                            @if(currentUser != null) {
                                @defining(currentUser.getCurrentGame()) { gameId =>
                                    @if(gameId != null) {
                                        @if(selectedTab.equals(views.html.battleship.getClass)) {
                                            <li class="active"><a href="/battleship/@gameId">Game</a></li>
                                        } else {
                                            <li><a href="/battleship/@gameId">Game</a></li>
                                        }
                                    }
                                }
                            }
                        }
                        @if(selectedTab.equals(views.html.rules.getClass)) {
                            <li class="active"><a href="/rules">Rules</a></li>
                        } else {
                            <li><a href="/rules">Rules</a></li>
                        }
                        @if(selectedTab.equals(views.html.about.getClass)) {
                            <li class="active"><a href="/about">About</a></li>
                        } else {
                            <li><a href="/about">About</a></li>
                        }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    @defining(Application.getLocalUser(session())) { user =>
                        @if(user != null) {
                            @if(selectedTab.equals(views.html.profile.getClass)) {
                                <li class="active"><a href="/profile">My profile</a></li>
                            } else {
                                <li><a href="/profile">My profile</a></li>
                            }
                            <li><a href="/logout">Logout</a></li>
                        } else {
                            @* TODO: not working? *@
                            @session.clear()
                        }
                    }
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
        @content
        </div>

        <footer>
            <div class="container">
                <p class="text-muted text-center">
                    WebTech 2015/2016, &copy; Daniel Barea, Sandro Tonon<br>
                    View this on <a href="https://github.com/daniel-sandro/WTEC1516/">GitHub</a>
                </p>
            </div>
        </footer>

        <script src="@routes.Assets.versioned("javascripts/dist/battleship.js")" type="text/javascript"></script>
    </body>
</html>
