@(localUser: User)

@main("Profile", views.html.profile.getClass) {

    <script>
        var app = angular.module("app", ["chart.js"]);

        app.controller("profileCtrl", function($scope) {
            $scope.name = "@localUser.name";
            $scope.won = @localUser.wonGames;
            $scope.lost = @localUser.lostGames;
            $scope.data = [@localUser.wonGames, @localUser.lostGames];
            $scope.labels = ["Won", "Lost"];
            $scope.colours = ["#46BFBD", "#F7464A"];
        });

        app.directive("profileWrapper", function() {
            return {
                restrict: 'E',
                templateUrl: '@routes.Assets.versioned("elements/profile.html")',
                scope: {
                    name: '=',
                    won: '=',
                    lost: '=',
                    chartdata: '=',
                    chartlabels: '=',
                    chartcolours: '='
                }
            };
        });
    </script>

    <div class="row">
        <div class="col-xs-12 text-center">
            @if(localUser.picture != null) {
                <img class="profile-pic" src="@localUser.picture" style="width:250px;height:250px">
            }
        </div>
    </div>


    <div ng-app="app" ng-controller="profileCtrl">
        <profile-wrapper
            name="name"
            won="won"
            lost="lost"
            chartdata="data"
            chartlabels="labels"
            chartcolours="colours">

        </profile-wrapper>
    </div>
}
