@()

@main("Battleship rules") {
    <ul class="nav nav-tabs">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/rules">Rules</a></li>
        <li><a href="/about">About</a></li>
    </ul>

    <h1 class="page-header">Rules for BattleShip (a Milton Bradley Game)</h1>
    <div class="panel panel-default">
        <div class="panel-heading"><h2>Game Objective</h2></div>
        <div class="panel-body">
            <p>The object of Battleship is to try and sink all of the other player's before they sink all of your ships. All of the other player's ships are somewhere on his/her board.<br>
            You try and hit them by calling out the coordinates of one of the squares on the board.<br>
            The other player also tries to hit your ships by calling out coordinates.<br>
            Neither you nor the other player can see the other's board so you must try to guess where they are.<br>
            Each board in the physical game has two grids:<br>
            the lower (horizontal) section for the player's ships and the upper part (vertical during play) for recording the player's guesses.</p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h2>Starting a New Game</h2></div>
        <div class="panel-body">
            <p>Each player places the 5 ships somewhere on their board. The ships can only be placed vertically or horizontally. Diagonal placement is not allowed. No part of a ship may hang off the edge of the board.<br>
            Ships may not overlap each other.<br>
            No ships may be placed on another ship.<br></p>
            <p>Once the guessing begins, the players may not move the ships.</p>
            <p>The 5 ships are:<br></p>
                <ul>
                    <li>Carrier (occupies 5 spaces)</li>
                    <li>Battleship (4)</li>
                    <li>Cruiser (3)</li>
                    <li>Submarine (3)</li>
                    <li>Destroyer (2)</li>
                </ul>
        </div>
    </div>



    <div class="panel panel-default">
        <div class="panel-heading"><h2>Playing the Game</h2></div>
        <div class="panel-body">
            <p>Players take turns guessing by calling out the coordinates. The opponent responds with "hit" or "miss" as appropriate.<br>
                Both players should mark their board with pegs: red for hit, white for miss.</p>
            <p>For example, if you call out F6 and your opponent does not have any ship located at F6, your opponent would respond with "miss".<br>
                You record the miss F6 by placing a white peg on the lower part of your board at F6.<br>
                Your opponent records the miss by placing.</p>
            <p>When all of the squares that one your ships occupies have been hit, the ship will be sunk.<br>
                You should announce "hit and sunk". In the physical game, a red peg is placed on the top edge of the vertical board to indicate a sunk ship.<br></p>
            <p>As soon as all of one player's ships have been sunk, the game ends.</p>
        </div>
    </div>
}
