@import views.html.helper.inputText
@import views.html.helper.inputPassword
@import com.feth.play.module.pa.views.html.forProviders
@import play.data.Form
@(signupForm: Form[_])

@main("Sign up", views.html.signup.getClass) {
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
            <h1>SignupController</h1>
        </div>
    </div>

    <div id="SignupController" class="row">
    @helper.form(routes.Application.doSignup, 'class -> "form-horizontal", 'role -> "form") {
        @if(signupForm.hasGlobalErrors) {
            <ul class="alert alert-danger">
                @for(error <- signupForm.globalErrors) {
                    <li>@error.message</li>
                }
            </ul>
        }

        @* TODO: mark fields as required *@
        @* @inputText(signupForm("username"), '_label -> "Chose a username") *@

        @inputText(signupForm("email"), '_label -> "Your email address")

        @inputText(signupForm("name"), '_label -> "Your name")

        @inputPassword(signupForm("password"), '_label -> "Choose a password")

        @inputPassword(signupForm("repeatPassword"), '_label -> "Repeat chosen password",
            '_showConstraints -> false, '_error -> signupForm.error("password"))

        <button type="submit" class="btn btn-default">Sign up now</button>
    }
    </div>

    <div class="col-xs-6 col-md-4">
        or Login using one of the following providers:
        <ul class="providers">
            @forProviders() { p =>
                <li>
                    <a href="@p.getUrl">@p.getKey</a>
                </li>
            }
        </ul>
    </div>
}
